@font-face {
  font-family: 'Orbit-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: "RixInooAriDuriR", sans-serif;
  margin:0;
}

a{
  color:inherit!important;
  text-decoration: none!important;
}

nav{
  position:absolute;
  top:0;
  width: 100%;
  z-index: 99;
  background-color: #fcd303;
  font-family: "Orbit-Regular", sans-serif;
  transition: 0.8s;
  height: 100%;
  overflow: hidden;
}

nav.hiddenNav{
  height: 0;
}

nav ul:nth-child(1){
  padding-top: 15px;
}
nav ul {
  padding-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
}

nav ul:nth-last-child(1){
  padding-bottom: 15px;
}

nav ul::after{
  content: "";
  width: 100%;
  border-bottom: 1px dashed #000;
  height: 15px;
  left: 0;
  position: absolute;
}

ul{
  padding: 0;
  margin: 0!important;
  list-style: none;
}

nav ul li{
  padding-bottom: 10px;
}
